<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<disabledPackageSources>
		<add key="Nuget Amil" value="true" />
		<add key="Nuget Local" value="true" />
	</disabledPackageSources>
	<packageRestore>
		<add key="enabled" value="True" />
		<add key="automatic" value="True" />
	</packageRestore>
	<config>
		<add key="dependencyVersion" value="Highest" />
		<add key="repositoryPath" value="packages" />
	</config>
</configuration>
